body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #003a21;
  /*background: url("http://i.ebayimg.com/images/g/wLcAAOSw3utY8jNS/s-l500.jpg");*/
  /*background-image: url("https://s-media-cache-ak0.pinimg.com/564x/1f/df/05/1fdf05891b09dc8df19cec7962105d97.jpg");*/
  /*background-image: url("../public/woodDetail.jpg");*/
  /*background-image: url("../public/lightBackgroundHorizontal.png");*/
  /*background-image: url("../public/darkBackground.png");*/
  /*background-image: url("https://www.thefabricco.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/n/u/nuw2187.jpg");*/
}

/*.header-background {

}*/
.header-container {
  background: url("../public/woodDetail.jpg");
  height: 550px;
  width: 100%;
}
.header-background {
  width: 100%;
}
.nav-bar {
  width: 100%;
}
.nav-bar ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}
.nav-bar li {
  padding: 20px 10px 20px 10px;
}
.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-image {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  padding-right: 30px;
}
.header-image img {
  width: 100%;
  height: auto;
}

.header-text-container {
  padding-left: 30px;
  font-size: 20px;
  width: 30%;

}
